
@{
    ViewData["Title"] = "Success";
}


<div class="text-center">
    <h1 class="text-white">Success</h1>
    <form asp-action="Success" asp-controller="Home" method="get">
        <input type="submit" class="btn btn-primary" value="Download file" />
    </form>
</div>

